* {
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  border: 1px dashed;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}
